* {
    margin:0;
    padding: 0;
    border:0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;    
}
body {
    background-color: black;
}
header {
    height:90px;
    background-color: black;
}
li, a {
    text-decoration: none;
    color:black;
    display:inline-block;
    font-size: 15px;
    color:white;
    font-family: roboto;
}
ul {
    margin-left: 7%;
    padding-top: 39px;
    position: fixed;
}
li {
    margin-left: 120px;
}
.logo {
    height: 70px;
    width: 90px;
    background-image: url("pizza-majstor2.jpg");
    position: absolute;
    margin-left: 10px;
    margin-top: 10px;
    border-radius:19px; 
}
section {
    width:80%;
    height:auto;
    background-color: white;
    position: relative;
    font-family: roboto;
    float: left;
}
.tekst {
    padding-top: 30px;
    margin-left: 2px;
}
@font-face {
    font-family: alexbrush;
    src: url(AlexBrush-Regular.ttf);
}
@font-face {
    font-family: roboto;
    src: url(Roboto-Black.ttf);
}
.main-photo {
    margin-top: 30px;
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    ),url("pizza.jpg");
    background-size: cover;
    width:100%;
    height: 410px;
    color:white;
    padding-top: 13%;
    text-align: center;
    font-size: 40px;
    font-family: alexbrush;
}
.side-menu {
    height: 80%;
    background-image: url("plava.jpg"); 
    position: absolute;
    margin-left: 80%;
    width: 20%;
    text-align: center;
    font-family: roboto;
    padding-top: 15%;
    border-radius: 10px;
}
footer {
    background-color: black;
    height:39px;
    color:white;
    margin-top: 533px
}
.copyright {
    float:left;
    margin-right: 15px;
}
a {
    border-bottom: 3px solid yellow;
    padding-bottom: 20px;
    transition: font-size 1s;
}
a:hover{
    font-size:20px;
}
