body {
	background-color: #CDFFFF;
}
.navbar {
	padding-left: 15%;
	background-color: lightblue;
	padding-top: 12px;
	color:#FF0000;
}
ul li {
	display: inline-block;
	margin: 0 188px 0 0 ;
	font-size: 17px;
	font-family: sans-serif;
	cursor: pointer;
	transition: 0.8s;
}
ul li:hover {
	transition: 0.8s;
	background-color: #400D12;
}
.naslov {
	position: relative;
	top: 40%;
	left: 25%;
	color: red;
	z-index: 1;
	font-size: 40px;
	font-family: comic sans ms;
}